{% extends "autht/main.html" %}

{% block PageName %}Appointments{% endblock PageName %}

{% block content %}
    <section class="operations">
        <a href="{% url 'add_appointment' %}" class="newPatient">Add Appointment</a>
    </section>

    <table class="patients-table">
        <thead>
            <tr>
                <th>Actions</th>
                <th>Appointment ID</th>
                <th>Patient</th>
                <th>Practitioner</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
                <tr>
                    <td class="patient-actions">
                        <form method="post" action="{% url 'DeleteAppointment' appointment.appointment_id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-delete" 
                                    onclick="return confirm('Delete appointment #{{ appointment.appointment_id }}?')">
                                🗑️
                            </button>
                        </form>
                        <a href="#" class="btn btn-edit" type="submit" onclick="{% url 'EditAppointment' appointment.appointment_id%}">Edit</a>
                    </td>
                    <td>{{ appointment.id }}</td>
                    <td>{{ appointment.patient }}</td>
                    <td>{{ appointment.practitioner }}</td>
                    <td>{{ appointment.appointment_date }}</td>
                    <td>{{ appointment.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}